.home{
  display: flex;
  flex-wrap: wrap;
  &-row{
    display: flex;
    margin: .5px 0;
    height: var(--home-item-height);
    width: 100%;
  }
  &-item{
    &>div{
      border-radius: 5px;
      margin: 0 .5px;     
    }
  }
}